{% extends 'layout.twig' %}

{% block content %}
<div class="row" id="cartas" style="margin-top: 70px">
  {% for club in clubes %}
  <div class="col-sm-3">
    <div class="card">
      <img class='card-im-top' src="images/{{club.escudo}}" alt='Card image cap'>
      <div class="card-body">
        <h5 class="card-title"><strong>
          {{club.nombre}}
        </strong></h5>
        <p class="card-text">
          {{club.descripcion}}
        </p>
        <a class="btn btn-primary" href="{{club.link}}" target="_blank">
          Sitio Web
        </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Plantel</button>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <ul class="list-group">
                {% for jugador in club.jugadores %}
                <li class="list-group-item">{{jugador.nombre}} {{jugador.apellido}}
                  <small><strong> {{jugador.posicion}} </strong></small>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
