{% extends 'layout.twig' %}

{% block content %}
<div class="row" id="cartas" style="margin-top: 70px">
  {% for club in clubes %}
  <div class="col-sm-3 py-2">
    <div class="card h-100">
      <img class="card-im-top" src="images/{{club.escudo}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><strong>
          {{club.nombre}}
        </strong></h5>
        <p class="scroll-box">
          {{club.descripcion}}
        </p>
        <div style="position:absolute;bottom:0;left:0;margin-top: 10px">
        <a class="btn btn-primary" href="{{club.link}}" target="_blank">
          Sitio Web
        </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-lg-{{club._id}}">Plantel</button>
        {% if user %}
        <button type="button" class="btn btn-warning" id="{{club._id}}" onclick="guardarFavorito(this.id)"><i class="fas fa-star"></i> Favorito</button>
        {% endif %}
        <div class="modal fade modal-lg-{{club._id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <ul class="list-group">
                {% for jugador in club.jugadores %}
                <li class="list-group-item">{{jugador.nombre}} {{jugador.apellido}}
                  <small><strong> {{jugador.posicion}} </strong></small>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
