{% extends "layout.twig" %}

{% block content %}

<div style="margin-top: 70px;">
  <h3  style="text-align: center"><b>Fechas</b></h3>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% set index = 1 %}
      {% for fecha in fechas %}
        {% if index == fechaMasReciente %}
          <li class="page-item active"><button class="page-link" id="{{fecha.numero}}" onclick="mostrarPartidos(this.id)">Fecha {{fecha.numero}}</a></li>
        {% else %}
          <li class="page-item"><button class="page-link" id="{{fecha.numero}}" onclick="mostrarPartidos(this.id)">Fecha {{fecha.numero}}</a></li>
        {% endif %}
        {% set index = index+1 %}
      {% endfor %}
    </ul>
  </nav>
</div>

<div class="card-group">
  {% set index = 1 %}
  {% for partido in partidos %}
    <div class="card" id="partido-{{index}}">
      <img class="card-img-top" src="images/calendar.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" id="titulo-{{index}}">{{partido.local.nombre}} - {{partido.visitante.nombre}}</h5>
        <p class="card-text" id="puntos-{{index}}">{{partido.puntosLocal}} - {{partido.puntosVisitante}}</p>
        <p class="card-text" id="dia-{{index}}"><strong>Dia</strong> {{partido.fecha}}</p>
        <p class="card-text" id="hora-{{index}}"><strong>Hora</strong> {{partido.hora}}</p>
        <p class="card-text" id="estado-{{index}}"><small class="text-muted">{{partido.estado}}</small></p>
      </div>
    </div>
    {% set index = index+1 %}
  {% endfor %}
</div>

{% endblock %}
